h1 {
	/*
	font-family: arial, verdana, sans-serif;
	font-size: 100px;
	font-weight: bold;
	font-variant: small-caps;
	font-style: italic;
	*/

	font: italic small-caps bold 100px arial, verdana, sans-serif;
}

p {
	font-family: georgia, serif;
	line-height: 50px;
}